.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1.2fr 3fr;
    grid-template-areas: 
      "nav nav nav nav"
      "sidebar main main main"
      "sidebar content1 content1 content2"
      "sidebar content1 content1 content2"
      "footer footer footer footer";
  grid-gap: 0.2rem;}

nav{background: #165a72;
  grid-area: nav;
    text-align: center;}

main{background: #d3eaf2;
  grid-area: main;
    text-align: center;}

#sidebar{background:#d3eaf2;
grid-area: sidebar;
text-align: center;
padding: 12%;
font-size: 20px;
font-weight: 700;
color: #165a72;}

#content1{background: #d3eaf2;
  grid-area: content1;
    text-align: center;
color: #165a72;
    font-size: 26px;
    font-weight: 600;
padding: 10%;}

#content2{background:  #d3eaf2;
    grid-area: content2;
        text-align: center;
padding-top: 25%;}

footer{background: #040f13;
  grid-area: footer;
    text-align: right;
color:#d3eaf2;
    padding-right:1rem;}

.nav-list{
    box-shadow: 0px 0px 10px;
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;}

.nav-item{
    list-style: none;}

.nav-item a {
    text-decoration: none;
    color: #d3eaf2;
    float: left;
    padding-left: 120px;
    font-family:sans-serif;
    font-style:italic;
font-size: 25px;}

header{text-align: center;
font-size: 30px;
color: aliceblue;}

body{background-color: #0b2d39;}

main{font-size: 30px;
    font-weight: 600;
    padding: 5%;
    color: #0b2d39;}

a:link{color: #0f3c4c;}

